###############################################
#         ATTENTION! SECURITY NOTICE          #
###############################################

# This file contains sensitive information.
# Unauthorized access is strictly prohibited.
# Ensure proper permissions and access controls.
# Do not share or expose this file unnecessarily.
# Report any suspicious activity immediately.
#
# Remember: Security is everyone's responsibility!
###############################################

# DB connection settings
MONGO_DB_URI=

# Server config
PORT=3000

# JWT config
JWT_KEY=
JWT_EXPIRES_IN_HOURS=12

# Logger config
LOGS_KEY=

# Photo upload settings
PHOTO_MAX_SIZE=10000000        # 10 MB
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=