###############################################
#         ATTENTION! SECURITY NOTICE          #
###############################################

# This file contains sensitive information.
# Unauthorized access is strictly prohibited.
# Ensure proper permissions and access controls.
# Do not share or expose this file unnecessarily.
# Report any suspicious activity immediately.
#
# Remember: Security is everyone's responsibility!
###############################################

# DB connection settings
MONGO_DB_URI=

# Server config
PORT=3000

# JWT config
JWT_KEY=
JWT_EXPIRES_IN_HOURS=

# Logger config
LOGS_KEY=123

# Photo upload settings
UPLOADS_PATH=http://localhost:3000/uploads/
PHOTO_MAX_SIZE=10000000        # 10 MB